@import './assets/variavbles.scss';
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: $background-color;
}
html, body, #root {
  height: 100%;
  margin: 0;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-layout {
  display: flex;
  flex: 1;
  height: 100%;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow: auto; 
}
